In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json
import os
import pprint
from pandas.io.json import json_normalize

In [2]:
#reading csv file and turning it into a dataframe
csv_file= "Restaurants_in_Wake_County.csv"
restaurant_df= pd.read_csv(csv_file)
restaurant_df.head()

,OBJECTID,HSISID,NAME,ADDRESS1,ADDRESS2,CITY,STATE,POSTALCODE,PHONENUMBER,RESTAURANTOPENDATE,FACILITYTYPE,PERMITID,X,Y,GEOCODESTATUS
0,1,4092110115,Wakefield Elementary Cafeteria,2400 Wakefield Pines Dr,NaN,RALEIGH,NC,27614,(919) 562-3565,1999-06-30T00:00:00.000Z,Public School Lunchrooms,19,-78.566415,35.946494,M
1,2,4092110117,Green Hope High Sch. Cafeteria,2500 Carpenter Upchurch RD,NaN,MORRISVILLE,NC,27560-7686,(919) 380-3684,1999-08-12T00:00:00.000Z,Public School Lunchrooms,20,0.000000,0.000000,U
2,3,4092010617,Rex Hospital Cafeteria,4420 LAKE BOONE TRL,NaN,RALEIGH,NC,27607-6599,(919) 784-4173,1991-05-13T00:00:00.000Z,Restaurant,41,-78.702420,35.818172,M
3,4,4092110082,Penny Road Elementary Cafeteria,10900 PENNY RD,NaN,RALEIGH,NC,27606-9118,(919) 387-2143,1991-09-16T00:00:00.000Z,Public School Lunchrooms,51,0.000000,0.000000,U
4,5,4092160021,Woodland Terrace Assisted Living Foodservice,300 Kildaire Woods Dr,NaN,CARY,NC,27511,(919) 465-0356,2001-09-05T00:00:00.000Z,Institutional Food Service,61,-78.779010,35.766135,M

In [3]:
#cleaned by selecting columns needs
updated_restaurant_df= restaurant_df[['OBJECTID', 'NAME', 'ADDRESS1', 'CITY', 'STATE', 'POSTALCODE']]
updated_restaurant_df.head()

,OBJECTID,NAME,ADDRESS1,CITY,STATE,POSTALCODE
0,1,Wakefield Elementary Cafeteria,2400 Wakefield Pines Dr,RALEIGH,NC,27614
1,2,Green Hope High Sch. Cafeteria,2500 Carpenter Upchurch RD,MORRISVILLE,NC,27560-7686
2,3,Rex Hospital Cafeteria,4420 LAKE BOONE TRL,RALEIGH,NC,27607-6599
3,4,Penny Road Elementary Cafeteria,10900 PENNY RD,RALEIGH,NC,27606-9118
4,5,Woodland Terrace Assisted Living Foodservice,300 Kildaire Woods Dr,CARY,NC,27511

In [9]:
updated_restaurant_df.rename(columns={'NAME':'RESTAURANTNAME',
                          'ADDRESS1':'ADDRESS'},
                 inplace=True)
updated_restaurant_df.set_index('OBJECTID')

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,RESTAURANTNAME,ADDRESS,CITY,STATE,POSTALCODE
OBJECTID,,,,,
1,Wakefield Elementary Cafeteria,2400 Wakefield Pines Dr,RALEIGH,NC,27614
2,Green Hope High Sch. Cafeteria,2500 Carpenter Upchurch RD,MORRISVILLE,NC,27560-7686
3,Rex Hospital Cafeteria,4420 LAKE BOONE TRL,RALEIGH,NC,27607-6599
4,Penny Road Elementary Cafeteria,10900 PENNY RD,RALEIGH,NC,27606-9118
5,Woodland Terrace Assisted Living Foodservice,300 Kildaire Woods Dr,CARY,NC,27511
6,Mcdonald`s #18969,1305 E WILLIAMS ST,APEX,NC,27502-2188
7,Biscuitville # 169,605 STELLATA DR,FUQUAY VARINA,NC,27526-1946
8,Bojangles # 31,10610 Durant Rd,RALEIGH,NC,27614
9,Pizza Hut,1301 N MAIN ST,FUQUAY VARINA,NC,27526-2618
10,Cook Out #13,6505 FALLS OF NEUSE RD,RALEIGH,NC,27615-6814
11,Chili's Grill and Bar #867,115 Carillon Dr,GARNER,NC,27529
12,Harris Teeter #112 Deli,270 Grande Heights Dr,CARY,NC,27513
13,Food Lion #572 Produce,8320-120 Litchford Rd,RALEIGH,NC,27615
14,The Border Restaurant,712 N Main St,WAKE FOREST,NC,27587
15,Durant Road Elem. Cafeteria,9901 DURANT RD,RALEIGH,NC,27614-9369
16,Fresh Market Seafood and Meat Market,400 WOODBURN RD,RALEIGH,NC,27605-1324
17,Stough Elem. Cafeteria,4210 EDWARDS MILL RD,RALEIGH,NC,27612-5404
18,Taylor`s Convenience Store,10005 SIX FORKS RD,RALEIGH,NC,27615-1636
19,Willow Spring Elem.Cafet.,6800 DWIGHT ROWLAND RD,WILLOW SPRING,NC,27592-9342
20,University Towers Dining Service,111 FRIENDLY DR,RALEIGH,NC,27607-5463
21,Torero`s Mexican Restaurant V,1207-C Kildaire Farm Rd,CARY,NC,27511
22,Aubrey &amp; Peedi`s Grill,38 N Main ST,WENDELL,NC,27591
23,Harris Teeter #26 Deli,7400 CREEDMOOR RD,RALEIGH,NC,27613-1639
24,Bojangles,2620 Atlantic Ave,RALEIGH,NC,27604-1502
25,R.J.`S PLACE,712 N MAIN ST,FUQUAY-VARINA,NC,27526
26,Barnes And Noble Cafe,4325 GLENWOOD AVE,RALEIGH,NC,27612-4532
27,"Zest, Inc",8831 SIX FORKS RD,RALEIGH,NC,27615-2970
28,The Peddler Steak House,6005 GLENWOOD AVE,RALEIGH,NC,27612-2636
29,GLAXO ZEBULON FOODSERVICE,1011 N ARENDELL AVE,ZEBULON,NC,27597
30,HOOTERS,1001 CLAREN CIR,MORRISVILLE,NC,27560
...,...,...,...,...,...
3493,WICKED LINKS #2 (WCID #494),11800 GALAXY DRIVE,WAKE FOREST,NC,27587
3494,DESPINA'S CAFE,8369 CREEDMOOR RD,RALEIGH,NC,27613
3495,ANOTHER BROKEN EGG,160 PARK AT NORTH HILLS ST,RALEIGH,NC,27609
3496,Your Pie,4233 Corners PKY,RALEIGH,NC,27617
3497,HILLTOP CHRISTIAN SCHOOL CONCESSION,10212 FAYETTEVILLE RD,FUQUAY-VARINA,NC,27526
3498,Jaguar Club Gym Concessions,1420 Athens DR,RALEIGH,NC,27606
3499,Rolesville Diner,"411 S Main ST, Unit E",ROLESVILLE,NC,27571
3500,Weaver Vending (WCID #631),1575 US Highway 70 W,Garner,NC,27529
3501,El Sazon de mi Tierra (WCID #620),3700 Bland RD,RALEIGH,NC,27604
3502,Bella's LLC's (WCID #624),3804 Tyler Bluff LN,RALEIGH,NC,27616
3503,Greek Bistro,1105 Walnut ST,Cary,NC,27511
3504,Boston Market,4558 Capital Blv,RALEIGH,NC,27604-4353
3505,Lowes Foods #226 Deli,8440 louisburg rd,RALEIGH,NC,27616
3506,BENELUX CAFE,1603 HILLSBOROUGH ST,RALEIGH,NC,27605
3507,Makus Empanadas @ MSFH,411 W Morgan ST,RALEIGH,NC,27603
3508,Yussy's Kitchen @ TKA,2201 S Wilmington ST,RALEIGH,NC,27601
3509,Hardee`s #1205,2304 Gorman ST,RALEIGH,NC,27606
3510,AVIATOR SMOKEHOUSE,525 Broad ST,FUQUAY VARINA,NC,27526
3511,BIG ED'S NORTH,5009 FALLS OF NEUSE RD,RALEIGH,NC,27609
3512,PIEZANO PIZZA,252 SOUTHTOWN CIR,ROLESVILLE,NC,27571
3513,Gusto Farm to Street,3088 Wake Forest RD,RALEIGH,NC,27609
3514,Domino`s Pizza #5506,3948 Western BLVD,RALEIGH,NC,27605
3515,USA Baseball Concession Stand,250 Brooks Park LN,CARY,NC,27519
3516,SUBWAY #29952,5412 APEX PEAKWAY,RALEIGH,NC,27502
3517,HYATT PLACE,710 CORPORATE CENTER DR,RALEIGH,NC,27607
3518,PAPA JOHN'S,5007 WINSTON HILL DR,CARY,NC,27513
3519,FIVE BROS PIZZA,6300-182 Creedmoor RD,RALEIGH,NC,27612
3520,13 Tacos &amp; Taps,10511-119 Shadowlawn DR,RALEIGH,NC,27614
3521,Taco Bell #334556,4004 Capital BLVD,RALEIGH,NC,27604
3522,Garner High School Indoor Concessions,2101 Spring DR,Garner,NC,27529

In [4]:
#read in json file 
filepath = os.path.join("Food_Inspection_filtered.json")
#json_file="Food_Inspections.json"
#inspection_df=pd.read_json(json_file)
#inspection_df.head()
with open (filepath, encoding="utf8") as jsonfile:
    inspection_json= json.load(jsonfile)

    inspection_json

In [5]:
#turn into a dataframe using json_normalize
inspection_df=pd.DataFrame.from_dict(json_normalize(inspection_json), orient='columns')
inspection_df
#data needed in the first features column

                                            features               type
0  [{'type': 'Feature', 'properties': {'OBJECTID'...  FeatureCollection

In [6]:
#unnest features column, turned into a dataframe
updatedinspection = json_normalize(inspection_json['features'])
updatedinspection

,geometry,properties.DATE_,properties.DESCRIPTION,properties.HSISID,properties.INSPECTOR,properties.OBJECTID,properties.PERMITID,properties.SCORE,properties.TYPE,type
0,None,2012-11-20T00:00:00.000Z,None,04092021582,Karla Crowder,1,17581,98.5,Inspection,Feature
1,None,2013-03-27T00:00:00.000Z,None,04092021582,Karla Crowder,2,17581,97.0,Inspection,Feature
2,None,2015-07-29T00:00:00.000Z,"Do not reuse cups of pH buffer solutions, poss...",04092021582,Karla Crowder,3,17581,98.5,Inspection,Feature
3,None,2015-11-09T00:00:00.000Z,None,04092021582,Karla Crowder,4,17581,97.0,Inspection,Feature
4,None,2016-05-18T00:00:00.000Z,None,04092021582,Karla Crowder,5,17581,97.0,Inspection,Feature
5,None,2016-10-14T00:00:00.000Z,None,04092021582,Ginger Johnson,6,17581,93.0,Inspection,Feature
6,None,2017-03-17T00:00:00.000Z,None,04092021582,Ginger Johnson,7,17581,95.5,Inspection,Feature
7,None,2018-07-13T00:00:00.000Z,None,04092021582,Ginger Johnson,8,17581,93.0,Inspection,Feature
8,None,2018-10-10T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092021582,Ginger Johnson,9,17581,97.5,Inspection,Feature
9,None,2019-01-30T00:00:00.000Z,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",04092021582,Ginger Johnson,10,17581,99.0,Inspection,Feature
10,None,2013-02-07T00:00:00.000Z,None,04092015913,Chris Askew,11,11597,98.5,Inspection,Feature
11,None,2017-04-07T00:00:00.000Z,"Inspection conducted by Joshua Volkan, supervi...",04092017542,Anne-Kathrin Bartoli,12,15589,94.5,Inspection,Feature
12,None,2016-08-14T00:00:00.000Z,Follow-Up: 08/16/2016,04092015321,Anne-Kathrin Bartoli,13,11314,96.5,Inspection,Feature
13,None,2013-06-03T00:00:00.000Z,Maintain cold potentially hazardous food 45F o...,04092016153,Melissa Harrison,14,13235,97.5,Inspection,Feature
14,None,2016-03-28T00:00:00.000Z,None,04092021953,Karla Crowder,15,14222,97.0,Inspection,Feature
15,None,2013-01-18T00:00:00.000Z,None,04092015474,Anne-Kathrin Bartoli,16,9456,98.5,Inspection,Feature
16,None,2018-07-09T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092015474,Karla Crowder,17,9456,97.5,Inspection,Feature
17,None,2013-04-09T00:00:00.000Z,None,04092015548,Chris Askew,18,19336,99.5,Inspection,Feature
18,None,2014-02-17T00:00:00.000Z,None,04092015548,Chris Askew,19,19336,95.5,Inspection,Feature
19,None,2015-01-13T00:00:00.000Z,Investigated complaint. Manager stated no oth...,04092015548,Chris Askew,20,19336,93.0,Inspection,Feature
20,None,2017-06-26T00:00:00.000Z,"*Notice*Effective January 1, 2019, NC food cod...",04092015548,Jessica Andrews,21,19336,95.0,Inspection,Feature
21,None,2014-05-27T00:00:00.000Z,None,04092016397,Angela Myers,22,16508,95.5,Inspection,Feature
22,None,2014-10-28T00:00:00.000Z,None,04092016397,Angela Myers,23,16508,99.0,Inspection,Feature
23,None,2015-03-20T00:00:00.000Z,None,04092016397,Angela Myers,24,16508,97.5,Inspection,Feature
24,None,2015-11-17T00:00:00.000Z,None,04092016397,Angela Myers,25,16508,98.0,Inspection,Feature
25,None,2016-10-26T00:00:00.000Z,None,04092016397,Jessica Andrews,26,16508,99.0,Inspection,Feature
26,None,2017-02-16T00:00:00.000Z,Looks Great!,04092016397,Jessica Andrews,27,16508,99.5,Inspection,Feature
27,None,2017-06-09T00:00:00.000Z,"*Notice*Effective January 1, 2019, NC food cod...",04092016397,Jessica Andrews,28,16508,100.0,Inspection,Feature
28,None,2017-10-27T00:00:00.000Z,"*Notice*Effective January 1, 2019, NC food cod...",04092016397,Jessica Andrews,29,16508,99.5,Inspection,Feature
29,None,2018-02-09T00:00:00.000Z,"*Notice*Effective January 1, 2019, NC food cod...",04092016397,Jessica Andrews,30,16508,99.5,Inspection,Feature
...,...,...,...,...,...,...,...,...,...,...
33484,None,2018-10-15T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092017543,Maria Powell,33485,19695,97.5,Inspection,Feature
33485,None,2013-02-08T00:00:00.000Z,None,04092030235,Lisa McCoy,33486,7963,97.5,Inspection,Feature
33486,None,2017-10-13T00:00:00.000Z,Follow-Up: 10/23/2017\r\n*Notice* Effective Ja...,04092030235,Laura McNeill,33487,7963,95.5,Inspection,Feature
33487,None,2018-04-06T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092030235,Laura McNeill,33488,7963,95.0,Inspection,Feature
33488,None,2016-11-10T00:00:00.000Z,Follow-Up: 11/20/2016,04092016997,Andrea Anover,33489,15715,90.0,Inspection,Feature
33489,None,2017-08-31T00:00:00.000Z,Contact Phone Number: 919-422-3747 *Notice* Ef...,04092016997,Joshua Volkan,33490,15715,92.5,Inspection,Feature
33490,None,2018-02-06T00:00:00.000Z,Contact Phone Number: 919-422-3747 *Notice* Ef...,04092016997,Joshua Volkan,33491,15715,93.5,Inspection,Feature
33491,None,2018-07-19T00:00:00.000Z,Contact Phone Number: 919-422-3747 *Notice* Ef...,04092016997,Joshua Volkan,33492,15715,92.5,Inspection,Feature
33492,None,2019-01-08T00:00:00.000Z,Contact phone number: 919-422-3747,04092016997,Joshua Volkan,33493,15715,91.0,Inspection,Feature
33493,None,2018-10-26T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092017671,Marion Wearing,33494,13060,98.5,Inspection,Feature
33494,None,2016-11-14T00:00:00.000Z,None,04092017007,Andrea Anover,33495,15515,94.0,Inspection,Feature
33495,None,2017-07-06T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092017007,Andrea Anover,33496,15515,91.0,Inspection,Feature
33496,None,2017-12-07T00:00:00.000Z,"*Notice* Effective January 1, 2019, the NC Foo...",04092017007,Andrea Anover,33497,15515,92.0,Inspection,Feature
33497,None,2018-03-28T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092017007,Andrea Anover,33498,15515,95.0,Inspection,Feature
33498,None,2018-10-11T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092017007,Andrea Anover,33499,15515,96.0,Inspection,Feature
33499,None,2016-09-12T00:00:00.000Z,Follow-Up: 09/22/2016,04092015597,Andrea Anover,33500,8732,91.5,Inspection,Feature
33500,None,2017-06-23T00:00:00.000Z,If improvement Is not observed on next inspect...,04092015597,Andrea Anover,33501,8732,90.0,Inspection,Feature
33501,None,2017-12-06T00:00:00.000Z,If improvement is not observed on next inspect...,04092015597,Andrea Anover,33502,8732,90.0,Inspection,Feature
33502,None,2018-04-30T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092015597,Andrea Anover,33503,8732,90.0,Inspection,Feature
33503,None,2018-12-07T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092015597,Andrea Anover,33504,8732,90.0,Inspection,Feature
33504,None,2017-04-19T00:00:00.000Z,Inspector contact info : Dimitri Parker(919)86...,04092440275,Dimitri Parker,33505,11939,95.0,Inspection,Feature
33505,None,2018-06-14T00:00:00.000Z,None,04092440275,Lucy Schrum,33506,11939,90.5,Inspection,Feature
33506,None,2018-09-13T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092022005,John Wulffert,33507,19693,100.0,Inspection,Feature
33507,None,2019-01-25T00:00:00.000Z,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",04092022005,John Wulffert,33508,19693,100.0,Inspection,Feature
33508,None,2018-09-13T00:00:00.000Z,"*NOTICE* EFFECTIVE JANUARY 1, 2019, THE NC FOO...",04092022004,John Wulffert,33509,15332,99.0,Inspection,Feature
33509,None,2019-01-25T00:00:00.000Z,"*NOTICE* AS OF JANUARY 1, 2019, THE NC FOOD CO...",04092022004,John Wulffert,33510,15332,99.5,Inspection,Feature
33510,None,2015-07-08T00:00:00.000Z,None,04092016246,Dimitri Parker,33511,17420,96.0,Inspection,Feature
33511,None,2017-07-27T00:00:00.000Z,"*Notice* Effective January 1, 2019, the NC Foo...",04092016246,Meghan Scott,33512,17420,99.0,Inspection,Feature
33512,None,2018-02-28T00:00:00.000Z,"*Notice* Effective January 1, 2019, the NC Foo...",04092016246,Meghan Scott,33513,17420,99.0,Inspection,Feature
33513,None,2018-11-05T00:00:00.000Z,"*Notice* Effective January 1, 2019, the NC Foo...",04092016246,Meghan Scott,33514,17420,98.5,Inspection,Feature

In [7]:
#reduced columns needed
inspection_df= updatedinspection[['properties.OBJECTID', 'properties.SCORE', 'properties.TYPE', 'properties.DESCRIPTION']]
inspection_df.head()

,properties.OBJECTID,properties.SCORE,properties.TYPE,properties.DESCRIPTION
0,1,98.5,Inspection,None
1,2,97.0,Inspection,None
2,3,98.5,Inspection,"Do not reuse cups of pH buffer solutions, poss..."
3,4,97.0,Inspection,None
4,5,97.0,Inspection,None

In [8]:
#changed column name
inspection_df.rename(columns={'properties.OBJECTID':'OBJECTID',
                          'properties.SCORE':'SCORE',
                          'properties.TYPE':'INSPECTIONTYPE',
                          'properties.DESCRIPTION':'DESCRIPTION'},
                 inplace=True)
inspection_df.set_index('OBJECTID')
inspection_df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,OBJECTID,SCORE,INSPECTIONTYPE,DESCRIPTION
0,1,98.5,Inspection,None
1,2,97.0,Inspection,None
2,3,98.5,Inspection,"Do not reuse cups of pH buffer solutions, poss..."
3,4,97.0,Inspection,None
4,5,97.0,Inspection,None

In [26]:
import pymysql
pymysql.install_as_MySQLdb()

In [49]:
rds_connection_string = "root:KrwuoMN&9ue@127.0.0.1:3306/RestaurantDB"
engine = create_engine(f'mysql://{rds_connection_string}')

In [50]:
engine.table_names()

['Inspection', 'Restaurant_Name']

In [51]:
updated_restaurant_df.to_sql(name='Restaurant_Name', con=engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'PRIMARY'") [SQL: 'INSERT INTO `Restaurant_Name` (`OBJECTID`, `RESTAURANTNAME`, `ADDRESS`, `CITY`, `STATE`, `POSTALCODE`) VALUES (%(OBJECTID)s, %(RESTAURANTNAME)s, %(ADDRESS)s, %(CITY)s, %(STATE)s, %(POSTALCODE)s)'] [parameters: ({'OBJECTID': 1, 'RESTAURANTNAME': 'Wakefield Elementary Cafeteria', 'ADDRESS': '2400 Wakefield Pines Dr', 'CITY': 'RALEIGH', 'STATE': 'NC', 'POSTALCODE': '27614'}, {'OBJECTID': 2, 'RESTAURANTNAME': 'Green Hope High Sch. Cafeteria', 'ADDRESS': '2500 Carpenter Upchurch RD ', 'CITY': 'MORRISVILLE', 'STATE': 'NC', 'POSTALCODE': '27560-7686'}, {'OBJECTID': 3, 'RESTAURANTNAME': 'Rex Hospital Cafeteria', 'ADDRESS': '4420 LAKE BOONE TRL', 'CITY': 'RALEIGH', 'STATE': 'NC', 'POSTALCODE': '27607-6599'}, {'OBJECTID': 4, 'RESTAURANTNAME': 'Penny Road Elementary Cafeteria', 'ADDRESS': '10900 PENNY RD ', 'CITY': 'RALEIGH', 'STATE': 'NC', 'POSTALCODE': '27606-9118'}, {'OBJECTID': 5, 'RESTAURANTNAME': 'Woodland Terrace Assisted Living Foodservice', 'ADDRESS': '300 Kildaire Woods Dr ', 'CITY': 'CARY', 'STATE': 'NC', 'POSTALCODE': '27511'}, {'OBJECTID': 6, 'RESTAURANTNAME': 'Mcdonald`s #18969', 'ADDRESS': '1305 E WILLIAMS ST', 'CITY': 'APEX', 'STATE': 'NC', 'POSTALCODE': '27502-2188'}, {'OBJECTID': 7, 'RESTAURANTNAME': 'Biscuitville # 169', 'ADDRESS': '605 STELLATA DR ', 'CITY': 'FUQUAY VARINA', 'STATE': 'NC', 'POSTALCODE': '27526-1946'}, {'OBJECTID': 8, 'RESTAURANTNAME': 'Bojangles # 31', 'ADDRESS': '10610 Durant Rd ', 'CITY': 'RALEIGH', 'STATE': 'NC', 'POSTALCODE': '27614'}  ... displaying 10 of 3522 total bound parameter sets ...  {'OBJECTID': 3521, 'RESTAURANTNAME': 'Taco Bell #334556', 'ADDRESS': '4004 Capital BLVD ', 'CITY': 'RALEIGH', 'STATE': 'NC', 'POSTALCODE': '27604'}, {'OBJECTID': 3522, 'RESTAURANTNAME': 'Garner High School Indoor Concessions', 'ADDRESS': '2101 Spring DR ', 'CITY': 'Garner', 'STATE': 'NC', 'POSTALCODE': '27529'})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [53]:
inspection_df.to_sql(name='Inspection', con=engine, if_exists='append', index=False)

In [54]:
pd.read_sql_query('select * from Restaurant_Name', con=engine).head()

,OBJECTID,RESTAURANTNAME,ADDRESS,CITY,STATE,POSTALCODE
0,1,Wakefield Elementary Cafeteria,2400 Wakefield Pines Dr,RALEIGH,NC,27614
1,2,Green Hope High Sch. Cafeteria,2500 Carpenter Upchurch RD,MORRISVILLE,NC,27560-7686
2,3,Rex Hospital Cafeteria,4420 LAKE BOONE TRL,RALEIGH,NC,27607-6599
3,4,Penny Road Elementary Cafeteria,10900 PENNY RD,RALEIGH,NC,27606-9118
4,5,Woodland Terrace Assisted Living Foodservice,300 Kildaire Woods Dr,CARY,NC,27511

In [55]:
pd.read_sql_query('select * from Inspection', con=engine).head()

,OBJECTID,SCORE,INSPECTIONTYPE,DESCRIPTION
0,1,99,Inspection,None
1,2,97,Inspection,None
2,3,99,Inspection,"Do not reuse cups of pH buffer solutions, poss..."
3,4,97,Inspection,None
4,5,97,Inspection,None